alembic==1.4.1
amqp==2.5.2
aniso8601==8.0.0
anyjson==0.3.3
appdirs==1.4.4
astroid==2.3.3
autopep8==1.4.4
Babel==2.8.0
backcall==0.1.0
bcrypt==3.1.7
billiard==3.6.3.0
blinker==1.4
celery==4.4.1
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
Click==7.0
colorama==0.4.3
cryptography==2.9
cssselect==1.1.0
cx-Oracle==7.3.0
cycler==0.10.0
decorator==4.4.1
distlib==0.3.1
Django==1.9
dnspython==1.16.0
docutils==0.16
entrypoints==0.3
et-xmlfile==1.0.1
eventlet==0.25.1
fake-useragent==0.1.11
filelock==3.0.12
flake8==3.7.9
Flask==1.1.1
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==2.5.2
Flask-RESTful==0.3.8
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.3
flower==0.9.3
future==0.18.2
gitdb2==2.0.6
GitPython==3.0.5
greenlet==0.4.15
idna==2.9
imageio==2.9.0
importlib-metadata==1.3.0
ipykernel==5.1.3
ipython==7.10.2
ipython-genutils==0.2.0
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.15.2
Jinja2==2.11.1
jupyter-client==5.3.4
jupyter-core==4.6.1
Kivy==1.11.1
kivy-deps.glew==0.1.12
kivy-deps.gstreamer==0.1.18
kivy-deps.sdl2==0.1.23
Kivy-Garden==0.1.4
kiwisolver==1.1.0
kombu==4.6.8
lazy-object-proxy==1.4.3
lxml==4.5.0
Mako==1.1.2
MarkupSafe==1.1.1
matplotlib==3.1.3
mccabe==0.6.1
mock==1.3.0
monotonic==1.5
more-itertools==8.0.2
mysql-connector-python==8.0.19
mysqlx-connector==0.0.8
networkx==2.4
nose==1.3.7
numpy==1.18.1
opencv-python==4.3.0.38
openpyxl==2.3.3
pandas==1.0.1
paramiko==2.7.1
parse==1.15.0
parso==0.5.2
pbr==1.4.0
pickleshare==0.7.5
Pillow==6.1.0
pluggy==0.13.1
prompt-toolkit==3.0.2
protobuf==3.6.1
puttykeys==1.0.2
pycodestyle==2.5.0
pycparser==2.20
pydocstyle==5.0.1
pyflakes==2.1.1
Pygments==2.5.2
pylint==2.4.4
pymongo==3.10.1
PyNaCl==1.3.0
pyparsing==2.4.6
pypiwin32==223
pyquery==1.4.1
pyserial==3.5
python-dateutil==2.8.1
python-editor==1.0.4
python-jsonrpc-server==0.3.2
python-language-server==0.31.4
pytz==2019.3
PyWavelets==1.1.1
pywin32==227
pyzmq==18.1.1
requests==2.23.0
requests-xml==0.2.3
rope==0.14.0
scikit-image==0.17.2
scipy==1.5.2
selenium==3.141.0
six==1.9.0
smmap2==2.0.5
snowballstemmer==2.0.0
Solution==5.4.0
SQLAlchemy==1.3.13
TerosHDL==0.1.1
tifffile==2020.7.24
tornado==5.1.1
traitlets==4.3.3
typed-ast==1.4.0
urllib3==1.25.8
vine==1.3.0
virtualenv==20.0.31
vunit-hdl==4.3.0
w3lib==1.22.0
wcwidth==0.1.7
Werkzeug==1.0.0
wrapt==1.11.2
WTForms==2.2.1
xmljson==0.2.1
yapf==0.29.0
zipp==0.6.0
